body {
	font-family: arial;
	background-image: url(background1.jpg);
	background-size: cover;
}

.topnya {
	background-color: pink;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 95%;
	border-bottom: solid 3px salmon;
	z-index: 9999;

}

.container {
	width: 900px;
	margin: 40px auto;
	color: #756f74;
	border: solid 3px salmon;
	background-color: pink;
	box-shadow: 1px 5px 50px 10px #fffafa;
	position: relative;
}

.hellokitty img {
	width: 100px;
	position: absolute;
	top: -10px;
	right: -55px;
}


.header {
	text-align: center;
}

.gambar {
	height: 200px;
	background-image: url(akuu.jpeg);
	background-size: cover;
	background-position: 0 -640px;
	border-top: solid 3px salmon;
	border-bottom: solid 3px salmon;
}

.profilekiri {
	width: 560px;
	border: solid 3px salmon ;
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #756f74;
	float: left;
	box-sizing: border-box;
}

.boxkanan {
	border: solid 3px salmon;
	float: right;
	width: 270px;
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.gif .zerotwo {
	float: right;
	margin: 9px;
	padding-right: 5px;
	padding-left: 5px;
	width: 280px;
	border-radius: 20px;
}

pre {
	font-size: 20px;
}

.giflagi img {
	width: 400px;
	float: left;
	padding: 20px;
	margin-left: 40px;
	box-sizing: border-box;
}

.Profilekedua {
	width: 400px;
	border: solid 3px salmon;
	margin: 25px;
	float: right;
	padding: 15px;
	box-sizing: border-box;
}

.Profilekedua img {
	width: 150px;
	float: left;
	margin-right: 15px;
	margin-bottom: 7px;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}